<%= form_tag("/session", method: "post") do %>
  <div class="text-field">
    <%= label_tag(:email, "email:") %>
    <%= text_field_tag(:email) %>
  </div>

  <div class="password-field">
    <%= label_tag(:password, "password:") %>
    <%= text_field_tag(:password) %>
  </div>

  <div class="submit-field">
    <%= submit_tag("Submit") %>
  </div>

  <div class="other-links">
    <p><%= link_to "Sign Up", sign_up_path %></p>
    <p><%= link_to "Forgot Password?", new_password_path %></p>
  </div>
<% end %>
