
<div>
  <h1>The World Of Philosophy</h1>
  <h3>Philosophers</h3>
</div>
<div class="row">
  <div class="card file-card col l12 m12 s12">
    <div class="card-content">
      <table class="responsive-table">
        <thead>
          <tr class="flow-text">
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Concentration</th>
            <th>Wikipedia</th>
          </tr>
        </thead>

        <tbody>
          <% @philosophers.each do |philosopher| %>
            <tr class="flow-text">
              <td><%= philosopher.latitude %></td>
              <td><%= philosopher.longitude %></td>
              <td><%= philosopher.address %></td>
              <td><%= philosopher.name %></td>
              <td><%= philosopher.birthdate %> </td>
              <td><%= philosopher.concentration %></td>
              <td><%= philosopher.wikipedia %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style='width: 1900px;'>
  <div id="map" style='max-width: 1900px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {styles: [
  {
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [
      { "hue": "#003bff" },
      { "gamma": 0.78 },
      { "saturation": 46 },
      { "lightness": -68 }
    ]
  },{
    "featureType": "poi",
    "elementType": "geometry.fill",
    "stylers": [
      { "saturation": -43 },
      { "lightness": -23 }
    ]
  },{
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [
      { "hue": "#ff0000" }
    ]
  },{
  }
]}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
