
<div>
  <h1>Listing Philosophers</h1>
</div>
<div class="row">
  <div class="card file-card col m8 m2">
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Concentration</th>
            <th>Wikipedia</th>
          </tr>
        </thead>

        <tbody>
          <% philosophers.each do |philosopher| %>
            <tr>
              <td><%= philosopher.latitude %></td>
              <td><%= philosopher.longitude %></td>
              <td><%= philosopher.address %></td>
              <td><%= philosopher.name %></td>
              <td><%= philosopher.born %> </td>
              <td><%= philosopher.concentration %></td>
              <td><%= philosopher.wikipedia %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
